{% extends "base.html" %}

{% block content %}

  <!-- Page Content -->
  {% include 'profile/message.html' %}
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Profile
      <small>{{ role }}</small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
    </ol>
    <div class="row">
    {% include 'profile/sidebar.html' %}
    <!-- Content Row -->
 
      <!-- Content Column -->
      <div class="col-lg-9 mb-4">
        <h2>Overview</h2>
        <p>Name: {{ name }}<br>
          Email: {{ email }}<br>
          Tracks: {{ track_count }}</p>
      </div>
    </div>
  </div>
   
  <!-- /.container -->

  {% endblock %}