{% extends "base.html" %}

{% block content %}

{% include 'profile/message.html' %}
  <!-- Page Content -->
  <div class="container">
<!-- Page Heading/Breadcrumbs -->
{% include 'profile/heading.html' %} 
<!-- Side Menu -->
{% include 'profile/sidebar.html' %}
    <!-- Content Row -->
 
      <!-- Content Column -->
      <div class="col-lg-9 mb-4">
        <h2>Overview</h2>
        <p>Name: {{ name }}<br>
          Email: {{ email }}<br>
          Tracks: {{ track_count }}</p>
      </div>
    </div>
  </div>
   
  <!-- /.container -->

  {% endblock %}