{% extends "base.html" %}

{% block content %}

<!-- Page Content -->
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
  
 

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Registration
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      </ol>
  </ol>

  <form action="{{ url_for('users.process_reg') }}" method="post">
  <p> {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}<br>
        {{ form.username() }}
    </div>
    <div class="form-group">
      {{ form.email.label }}<br>
      {{ form.email() }}
  </div>
    <div class="form-group">
        {{ form.password.label }}<br>
        {{ form.password() }}
    </div>
    <div class="form-group">
      {{ form.password2.label }}<br>
      {{ form.password2() }}
     </div>
      {{ form.submit() }}
    </p>
</form>
</div>
  <!-- /.container -->

  {% endblock %}
