{% extends "base.html" %}

{% block content %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Profile
      <small>{{ role }}</small>
    </h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-lg-3 mb-4">
        <div class="list-group">
          <a href="{{ url_for('account') }}" class="list-group-item">Profile</a>
            {% if current_user.is_tutor %}
          <a href="/admin/track" class="list-group-item">Tracks</a>
              {% else %}
          <a href="mylist.html" class="list-group-item">My List</a>
              {% endif %}
          <a href="/users/test" class="list-group-item">New Track</a>
          <a href="printing.html" class="list-group-item">Printing Table</a>
          <a href="{{ url_for('feedback') }}" class="list-group-item">Feedback</a>
          <a href="{{ url_for('users.logout') }}" class="list-group-item">Log Out</a>
        </div>
      </div>
      <!-- Content Column -->
      <div class="col-lg-9 mb-4">
        <h2>Overview</h2>
        <p>Name: {{ name }}<br>
          Email: {{ email }}<br>
          Tracks: {{ track_count }}</p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {% endblock %}
