{% extends "base.html" %}

{% block content %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Template
      <small></small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      
    </ol>
  
   <p> 
   <b>The White Stripes - The Denial Twist ver 2 drum tab</b> 
      <hr><pre>
    
Artist: The White Stripes
Song:   The Denial Twist
Album:  Get Behind Me Satan (Advance)
Tabber: Bk

F= Floor tom
M= Maracas, 
S= shake (sorry to insult intelligence)

This is a great song, powerful drum part.
Ok, true, we don't have three hands. I hold the maracas in my hihat hand along with the drum stick, 
at first it may seem impossible cos the maracas are playing 16ths and the hihat is following the 
bass & snare. Jus practice it and you'll pick it up tho, try it!!

Intro

H|x-------x-------|x-------x-------|x-------x-------|x---------------|
S|o-------o-------|o-------o-------|o-------o-------|o---------------|
B|o-------o-------|o-------o-------|o-------o-------|o-----------o-o-|
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +

Verse

M|ssssssssssssssss|ssssssssssssssss|ssssssssssssssss|ssssssssssssssss|
H|x---x---x-x-x-x-|x---x---x-x-x-x-|x---x---x-x-x-x-|x---x---x-x-x-x-|
S|----o-------o---|----o-------o---|----o-------o---|----o-------o---|
B|o-------o-o-----|o-------o-o-----|o-------o-o-----|o-------o-o-----|
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +

Chorus 1 

//---play 2x--\
C|X---X---X-------|
M|ssssssssssssssss|  
F|------------o-o-|
B|o---o---o-------|
1 + 2 + 3 + 4 +

~Verse 2 - play verse 1 twice~  

Chorus 2

C|X---X---X-------|X---X---X-------|
M|ssssssssssssssss|sssssssss-------|
F|------------o-o-|----------------|
B|o---o---o-------|o---o---o-------|
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +

C|X---X---X-X-X---|X---X---X-X-X---|----------------|----------------|
H|----------------|----------------|x---x---x-x-x-x-|x---x---x-x-x-x-|
M|ssssssssssssssss|ssssssssssssssss|ssssssssssssssss|ssssssssssssssss|
S|----o-------o---|----o-------o---|----o-------o---|----o-------o---|
B|o-------o-o-----|o-------o-o-----|o-------o-o-----|o-------o-o-----|
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +

C|X---X---X-X-X---|X---X---X-X-X---|X---------------|----------------|
H|----------------|----------------|----------------|----------------|
M|ssssssssssssssss|ssssssssssssssss|----------------|----------------|
S|----o-------o---|----o-------o---|----------------|----------------|
B|o-------o-o-----|o-------o-o-----|o---------------|----------------|
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +

~Repeat intro & repeat verse 1~

Chorus 3

C|X---X---X-------|X---X---X-------|
M|ssssssssssssssss|sssssssss-------|
F|------------o-o-|----------------|
B|o---o---o-------|o---o---o-------|
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +

C|X---X---X-X-X---|X---X---X-X-X---|----------------|----------------|
H|----------------|----------------|x---x-----------|x---x-----------|
M|ssssssssssssssss|ssssssssssssssss|ssssssssssssssss|ssssssssssssssss|
S|----o-------o---|----o-------o---|----o-----------|----o-----------|
B|o-------o-o-----|o-------o-o-----|o---------------|o---------------|
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +

C|X---X---X-X-X---|X---X---X-X-X---|X---------------|----------------|
H|----------------|----------------|----------------|----------------|
M|ssssssssssssssss|ssssssssssssssss|----------------|----------------|
S|----o-------o---|----o-------o---|----------------|----------------|
B|o-------o-o-----|o-------o-o-----|o---------------|----------------|
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +

Verse 4

//------------------------play 2x-----------------------------------\
H|x---x---x-x-x-x-|x---x---x-x-x-x-|x---x---x-x-x-x-|x---x---x-x-x-x-|
M|ssssssssssssssss|ssssssssssssssss|ssssssssssssssss|ssssssssssssssss| 
S|----o-------o---|----o-------o---|----o-------o---|----o-------o---|
B|o-------o-o-----|o-------o-o-----|o-------o-o-----|o-------o-o-----|
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +

Outro

C|X---X---X-------|X---X---X-------|
M|ssssssssssssssss|ssssssssssssssss|  /END/
F|------------o-o-|----------------|
B|o---o---o-------|o---o---o-------|  Hope you enjoyed, please rate!
1 + 2 + 3 + 4 +  1 + 2 + 3 + 4 +
</pre></p>
  </div>
  <!-- /.container -->

  {% endblock %}
