{% extends "base.html" %}

{% block content %}

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../static/img/drums_1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Find</h4>
          <div class="card-body">
            <p class="card-text">Text</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Create</h4>
          <div class="card-body">
            <p class="card-text">Text</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Print</h4>
          <div class="card-body">
            <p class="card-text">Text</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>Portfolio Heading</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/static/img/WS.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">The White Sripes</a>
            </h4>
            <p>...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/static/img/queen.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Queen</a>
            </h4>
            <p class="card-text">???</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/static/img/ringo.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">The Beatles</a>
            </h4>
            <p class="card-text">???</p>
          </div>
        </div>
      </div>
     </div> 
    <!-- /.row -->
    <hr>
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>{{ track_list[0].artist.name }} - {{ track_list[0].name }}</h2>
        <p>track_list[0].speed: {{ track_list[0].speed }}</p>
        <p>track_list[0].bars[0].notes:</p>
        <p>{{ track_list[0].bars[0].notes }}</p>
        {% for bars in track_list[0].bars %}
        <p>Bar #{{ bars.number }}</p>
        <div id="boo{{ bars.number }}"></div>
        <hr />
        {% endfor %}

      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
   
    <hr>

  <script src="https://npmcdn.com/vexflow@1.2.84/releases/vexflow-debug.js"></script>

  <!-- Начинается скрипт вывода нот -->
  {% for track in track_list%}
  <h2>{{ track.name }} - {{ track.artist.name }}</h2>
    {% for bars in track.bars %}
    <script>
      VF = Vex.Flow;

      // Create an SVG renderer and attach it to the DIV element named "boo".
      var div = document.getElementById("boo{{ bars.number }}")
      var renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);

      // Configure the rendering context.
      renderer.resize(410, 150);
      var context = renderer.getContext();
      context.setFont("Arial", 10, "").setBackgroundFillStyle("#eed");

      // Create a stave of width 400 at position 10, 40 on the canvas.
      var stave = new VF.Stave(10, 40, 400);

      // Add a clef and time signature.
      stave.addClef("treble").addTimeSignature("4/4");

      // Connect it to the rendering context and draw!
      stave.setContext(context).draw();

      // Create the notes
      var notes = [
        {{ bars.notes|safe }}
      ];

      // // Create a voice in 4/4 and add above notes - вывод нот, но не соединенных друг с другом
      // var voice = new VF.Voice({num_beats: 4,  beat_value: 4});
      // voice.addTickables(notes);

      // Делаем так, чтобы ноты записывались соединенными.
      var beams = VF.Beam.generateBeams(notes);
      VF.Formatter.FormatAndDraw(context, stave, notes);
      beams.forEach(function(b) {b.setContext(context).draw()})

      // Format and justify the notes to 400 pixels.
      // var formatter = new VF.Formatter().joinVoices([voice]).format([voice], 400);

      // Render voice
      // voice.draw(context, stave);

    </script>
    {% endfor %}
  {% endfor %}

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Join us and bla bla bla.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="/signup">Sign Up Now</a>
      </div>
    </div>
</div>
<!-- /.container -->
{% endblock %}