<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ page_title }}</title>

<link href="/static/css/font.css" rel="stylesheet">
</head>

<body>

<form>
    <div class="form-group">
      <textarea class="form-control" rows="1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>

</html>